html,
body {
  height: 100%;
  background-color: #110f0f;
  color: #e3e2e1;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-card {
  background-color: #372f2e;
  color: #e3e2e1;
}

.choosable {
  cursor: pointer;
}
